<section class="{{ class }} {{ classes }} {{ block_classes }}" {{ block.anchor ? 'id=' ~ block.anchor : null }}>
    <div class="{{ class }}-content sk-container">
      {% if not (fields.block_title is empty) %}
        <h2 class="{{ class }}-title">{{ fields.block_title }}</h2>
      {% endif %}

      {% if not (fields.persons is empty) %}
        <div class="{{ class }}-column"  data-aos="fade-left" data-aos-duration="1500">
          <ul class="{{ class }}-items">

        {% for item in fields.persons %}

        <li>
          <div class="{{ class }}-item">

          {% if item.person_image %}
          <div class="{{ class }}-item-image">
            {% include 'parts/components/image.twig' with {'id': item.person_image, 'class': 'img-fluid', 'sizes': '159px'} only %}
          </div>
          {% endif %}

          <div class="{{ class }}-person-content">
            {% if not (item.person_name is empty) %}
            <h6 class="{{ class }}-name">{{ item.person_name }}</h6>
            {% endif %}
            {% if not (item.person_position is empty) %}
            <div class="{{ class }}-position">{{ item.person_position }}</div>
            {% endif %}
            {% if not (item.person_description is empty) %}
            <div class="{{ class }}-description">{{ item.person_description }}</div>
            {% endif %}
          </div>
          </div>
        </li>
        {% endfor %}

          </ul>
        </div>
      {% endif %}








    </div>
</section>
