<section class="{{ class }} {{ classes }} {{ block_classes }}" id="{{ block.id }}">
  <div class="{{ class }}-content">
    {% if not (fields.background_image is empty) %}
      <div class="content-img-group">
        <div class="content-img-group-wrap">
          {% include 'parts/components/image.twig' with {'id': fields.background_image.id, 'classes': 'content-img sk-image-cover', 'sizes': '(max-width: 767px) 600px, (max-width: 991px) 1000px, 1400px', 'disableLoading': false} only %}
          <div class="content-img-triangle"></div>
        </div>
      </div>
    {% endif %}
    <div class="sk-container">
      {% if not (fields.title is empty) %}
        <h2 class="{{ class }}-title">{{ fields.title }}</h2>
      {% endif %}
      {% if not (fields.benefits is empty) %}
        <div class="{{ class }}-list ">
          {% for item in fields.benefits %}
            <div class="{{ class }}-list-item">
              <div class="benefit-item-img">
                {% include 'parts/components/image.twig' with {'id': item.image, 'classes': 'benefits-logo', 'sizes': '(max-width: 767px) 200px, (max-width: 991px) 400px, 600px', 'disableLoading': false} only %}
              </div>
              <div class="benefit-item-info">
                {% if not (item.information.top_text is empty) %}
                  <p class="benefit-item-text">{{ item.information.top_text }}</p>
                {% endif %}
                {% if not (item.information.bold_text is empty) %}
                  <h2 class="benefit-item-title">{{ item.information.bold_text }}</h2>
                {% endif %}
                {% if not (item.information.bottom_text is empty) %}
                  <p class="benefit-item-text">{{ item.information.bottom_text }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if (not (fields.subtitle is empty)) or (not (fields.description is empty)) %}
      <div class="{{ class }}-works">
        {% if not (fields.background_image is empty) %}
          <div class="works-img-group">
            <div class="works-img-group-wrap">
              {% include 'parts/components/image.twig' with {'id': fields.background_image.id, 'classes': 'works-img sk-image-cover', 'sizes': '(max-width: 767px) 200px, (max-width: 991px) 400px, 600px', 'disableLoading': false} only %}
              <div class="works-img-group-triangle"></div>
            </div>
          </div>
        {% endif %}
        <div class="sk-container">
          <div class="{{ class }}-works-wrap">
            {% if not (fields.subtitle is empty) %}
              <h3 class="{{ class }}-works-title">
                {{ fields.subtitle }}
              </h3>
            {% endif %}
            {% if not (fields.description is empty) %}
              <div class="{{ class }}-works-description">
                {{ fields.description }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if not (fields.cards is empty) %}
      <div class="{{ class }}-cards">
        <div class="sk-container">
          <div class="{{ class }}-cards-wrap">
            {% for card in fields.cards %}
              {% if not (card.card_text is empty) %}
                <div class="{{ class }}-card">
                  <span class="{{ class }}-card-index {{ card.card_title ? 'index-title' : ''}}">
                    {% if not (card.card_title is empty) %}
                      {{ card.card_title }}
                    {% else %}
                      {{ loop.index }}
                    {% endif %}
                  </span>
                  <p class="{{ class }}-card-text">
                    {{ card.card_text }}
                  </p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>
